img{
    bottom: 50vh;
    position: absolute;
    width: 40vw;
    height: 20vh;
    left: 39vw;

}
h6{
    position: absolute;
    left: 25vw;
    font-size: 6vw;
    bottom: 50vh;
    color: rgb(255, 255, 255);

}
ion-content{
    --ion-background-color:#25a8ff;
}
